{% extends 'base.html' %}
{% block main %}
<main>
    <div class="container">
        <div class="box-center">
            <div id="box-main">
                <header class="text-center">
                    <h1> P7 Papy Bot </h1>
                    <img id="img-bot" src="{{ url_for('static', filename='bot-logo-100.png') }}" alt="bot image"/>
                    <p>Salut je suis Papy Bot pose moi une question et j'irais la chercher au fin fond de mes archives</p>
                </header>

                {% include './partials/_form.html' %}

                <p id="dialog"></p>
                <div id="map" style="height:200px"></div>
            </div>
        </div>
    </div>
</main>
<script>

function getdataform() {
 // Get user data form and display it into the dialog
var h = document.getElementById("address").value;
var data = document.getElementById("dialog");
data.insertAdjacentHTML("beforeend", "<br>" + "<img src={{ url_for('static', filename='person-logo-50.png')}} />" + h);
};

function bot(data) {
    // Display bot dialog with the address map
    var p = document.getElementById("dialog");
    p.insertAdjacentHTML("beforeend", "<br>" + "<img src={{ url_for('static', filename='bot-logo-50.png')}} />" + "Bien sûr mon poussin ! La voici: " + data);
};

function wikiresponse(data) {
    // Display bot dialog with the address description(API Media Wiki)
    var p = document.getElementById("dialog");
    p.insertAdjacentHTML("beforeend", "<br>" + "<img src={{ url_for('static', filename='bot-logo-50.png')}} />"+ "Mais t'ai-je déjà raconté l'histoire de ce quartier qui m'a vu en culottes courtes ? " + data);
};

const rotate = (image, degrees) => {
    // Get bot image for rotate
    image.style.transform = `rotate(${+degrees}deg)`;
}
const img = document.getElementById('img-bot');

const oneLoop = () => {
    // Rotate bot image
    setTimeout(() => rotate(img, 90), 1000);
    setTimeout(() => rotate(img, 180), 2000);
    setTimeout(() => rotate(img, 360), 3000);
}
</script>
{% endblock main %}
